<% provide(:title, "CONTACT")
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) | Ruby on Rails Sample App </title>
</head>
<body>
  <h1>Contact</h1>
  <p>
    Contact the Ruby on Rails Tutorial about the sampe app a the 
    <a href="http://www.railstutorial.org/contact"> contact page</a>.
  </p>
</body>
</html>